@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0px;
}
.container{
    max-width: 1280px;
    margin: 0px auto;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    margin-bottom: 50px;
}
nav ul {
    display: flex;
    list-style: none;
    gap:24px;
}
button{
    all:unset;
    padding: 6px 16px;
    height: 32px;
    color:#fff;
    background-color:#f41818;
    font-weight: 500;
    border-radius:4px;
}
.hero{
    display: flex;
    align-items: center;
    height: calc(100vh - 78px);
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.hero-content h1{
    font-weight: 800;
    line-height: 70px;
    font-size: 72px;
    margin-bottom: 5px;
}
.hero-content p{
    font-weight: 600px;
    max-width: 400px;
    margin-top: 5px;
    
}

.hero-btn{
    display: flex;
    gap: 40px;
}
.hero-btn button{
    font-size: 16px;
}
.hero-shop p{
    font-size: 14px;
    margin-bottom: 8px;
}
.icon{
    display: flex;
    gap: 16px;

}
.hero-shop p{
    font-weight: 400;
}